# --- API CONFIGURATION ---
VITE_API_BASE_URL=http://localhost:5000

# --- CLERK AUTHENTICATION ---
VITE_CLERK_PUBLISHABLE_KEY=

# --- GOOGLE RECAPTCHA V2 ---
VITE_RECAPTCHA_SITE_KEY=

# --- SUPABASE CONFIGURATION ---
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_URL=
